.new-comment__text-error {
  width: 319px;
  height: 150px;
  margin: 0;
  font-family: inherit;
  font-size: 16px;
  font-weight: inherit;
  line-height: inherit;
  text-align: left;
  white-space: pre-wrap;
  overflow-y: scroll;
  overflow-x: hidden;
  overflow-wrap: anywhere;
  color: red;
}