.initiative__more-comments {
  /* display: block; */
  display: none;
  padding: 0;
  border: none;
  margin-bottom: 36px;
  font-family: Ubuntu, Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  background-color: transparent;
}