.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 600px;
  margin: 0 96px;
  background-image: url(../../resources/images/main-image.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}