.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 717px;
}

@media screen and (max-height: 999px) {
  .main {
    height: calc(717px - 10%);
  }
}

@media screen and (max-height: 700px) {
  .main {
    display: none;
  }
}

@media screen and (max-width: 1279px) {
  .main {
    display: none;
  }
}