.project__img-container_text {
    width: 460px;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    margin: 0 auto;
}

.project__img-container_text:nth-child(2) {
padding-top: 38px;
}

