.about-project__title {
    margin-top: 108px;
    margin-bottom: 0;
    margin-left: 150px;
    font-size: 72px;
    font-weight: normal;
    font-style: normal;
    line-height: 90px;
    color: black;
    font-family: RubikMonoOne;
}